<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header",{title:"G License"}) %>
  <body id="page-top">
    <%- include("layouts/navbar") %>

    <header class="mainhead no-bg-image">
      <div class="container">
        <div class="mainhead-heading text-uppercase">G License</div>
      </div>
    </header>

    <section class="page-section">
      <div class="container">
        <div class="user-details row justify-content-center">
          <% if(errorMsg) { %>
          <div class="text-center fs-2 p-4 col-md-6">
            <p><%= errorMsg %></p>
            <a href="/license/g2">Go back to G2 License Page</a>
          </div>
          <% } %>
          <!-- for success message display the information here -->
          <% if(successMsg) {%>
          <div class="bg-success text-white p-3 text-center toast-msg mb-3">
            <%= successMsg %>
          </div>
          <% } %>
          <!-- if user found then display the information here -->
          <% if(user) { %>
          <div class="mt-4 row justify-content-center">
            <div class="border rounded p-3 col-md-6">
              <h5 class="card-title border-bottom pb-2 mb-3">
                Personal Information
              </h5>
              <div class="d-flex align-items-baseline gap-2">
                <p>Name :</p>
                <div>
                  <span><%= user.firstName %></span>
                  <span class="pl-2"><%= user.lastName %></span>
                </div>
              </div>
              <div class="d-flex align-items-baseline gap-2 flex-wrap">
                <p>License Number :</p>
                <p><%= user.licenseNo %></p>
              </div>
              <div class="d-flex align-items-baseline gap-2">
                <p>Age :</p>
                <p><%= user.age %></p>
              </div>
              <div class="mb-3 d-flex align-items-baseline gap-2">
                <p>Date of Birth :</p>
                <p>
                  <%= (new Date(user.dob)).toISOString()?.split("T")?.[0] %>
                </p>
              </div>
              <div class="car-info mb-4">
                <h5 class="card-title border-bottom pb-2 mb-3">
                  Car Information
                </h5>
                <form method="POST" action="/license/g">
                  <div class="mb-3">
                    <label for="make" class="form-label">Make</label>
                    <input
                      type="text"
                      class="form-control"
                      id="make"
                      name="make"
                      placeholder="Enter car make"
                      value="<%= user?.car_details?.make %>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input
                      type="text"
                      class="form-control"
                      id="model"
                      name="model"
                      placeholder="Enter car model"
                      value="<%= user?.car_details?.model %>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input
                      type="number"
                      class="form-control"
                      id="year"
                      name="year"
                      placeholder="Enter car year"
                      value="<%= user?.car_details?.year %>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="plateNo" class="form-label">Plate Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="plateNo"
                      name="plateNo"
                      placeholder="Enter plate number"
                      value="<%= user?.car_details?.plateNo %>"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary w-100">
                    Submit
                  </button>
                </form>
              </div>
            </div>

            <div class="col-md-4 ms-3">
              <h5>Available Time Slots</h5>
              <form method="GET" action="/available-slots/g">
                <div class="form-group d-flex gap-4">
                  <div class="flex-grow-1">
                    <label for="selectedDate" class="form-label"
                      >Select Date
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      id="selectedDate"
                      name="selectedDate"
                    />
                  </div>
                  <div class="align-self-end">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      id="submitBtn"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </form>
              <div id="availableTimeSlots" class="mt-4 d-flex flex-column">
                <% if(slots) { %> <% if(slots.length === 0) {%>
                <p>Date not available for booking</p>
                <% } else {%>
                <p>Book an appointment for</p>
                <% slots.map(appointment => { %>

                <button
                  class="col-sm-3 slot w-100"
                  data-date="<%= appointment.date %>"
                  data-time="<%= appointment.time %>"
                  data-id="<%= appointment._id %>"
                  data-type="G"
                >
                  <%= appointment.date.toLocaleDateString('en-US') %> <%=
                  appointment.time %>
                </button>

                <% }) %> <% } %> <% } %>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <%- include("layouts/footer"); %>
    <!-- script include -->
    <%- include("layouts/script") %>
  </body>
</html>
